@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    height: 100%;
    gap: 9.3rem;
}

.header {
    background: url(../images/bg-main-desktop.png) no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    text-transform: uppercase;
    color: var(--light-grayish-violet);
    padding: 5%;
}

.circles {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.circle-1 {
    height: 3.1rem;
    width: 3.1rem;
    background: var(--white);
    border-radius: 50%;
}

.circle-2 {
    height: 1.25rem;
    width: 1.25rem;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.front-card {
    background: url(../images/bg-card-front.png);
    padding: 1.8rem;
    height: 15.3rem;
    width: 27.9rem;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: -25%;
}

.front-card h1 {
    font-weight: 500;
}

.front-card .info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.front-card .user-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.back-card {
    position: relative;
    right: -35%;
    height: 15.3rem;
    width: 27.9rem;
    background: url(../images/bg-card-back.png);
}

.back-card span {
    position: absolute;
    right: 12%;
    top: 45%;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.main section {
    display: none;
}

.main .selecionado {
    z-index: 1;
    opacity: 1;
    display: flex;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario label {
    color: var(--very-dark-violet);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.message-error {
    font-size: 0.75rem;
    color: var(--red);
    visibility: hidden;
    margin-bottom: 0.6rem;
}

input {
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid var(--light-grayish-violet);
    margin-bottom: 0.3rem;
}

.date-and-cvc {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 0.9rem;
}

.date {
    display: flex;
    gap: 0.6rem;
}

#date {
    height: fit-content;
}

#month {
    width: 3.75rem;
}

#year {
    width: 3.75rem;
}

#cvc {
    width: 100%;
}

input[type="submit"] {
    color: var(--white);
    background-color: var(--very-dark-violet);
    padding: 0.9rem;
    font-family: 'Space Grotesk', sans-serif;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.valid {
    border-color: var(--blue);
}

.invalid {
    border-color: var(--red);
}

.message-invalid {
    visibility: visible;
}

.message-valid {
    visibility: hidden;
}

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    text-align: center;
}

.thanks h1 {
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.thanks p {
    color: var(--dark-grayish-violet);
}

.thanks button {
    background: var(--very-dark-violet);
    width: 130%;
    padding: 0.9rem;
    color: var(--light-grayish-violet);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
}

.thanks button:hover {
    cursor: pointer;
}